In [1]:
import tensorflow as tf

In [4]:
if tf.config.list_physical_devices('GPU'):
    print("GPU detected.")

GPU detected.

In [6]:
tf.keras.utils.get_file(
    "ridership.tgz",
    "https://github.com/ageron/data/raw/main/ridership.tgz",
    cache_dir='.',
    extract=True,
)

Downloading data from https://github.com/ageron/data/raw/main/ridership.tgz
108512/108512 ━━━━━━━━━━━━━━━━━━━━ 0s 0us/step

'./datasets/ridership.tgz'

In [15]:
import pandas as pd
from pathlib import Path

path = Path('./datasets/ridership/CTA_-_Ridership_-_Daily_Boarding_Totals.csv')
df = pd.read_csv(path, parse_dates=["service_date"])
df.columns= ['date','day','bus','rail','total']
df = df.sort_values('date').set_index('date')

df = df.drop('total',axis=1)
df = df.drop_duplicates()

df.head(4)

           day     bus    rail
date
2001-01-01   U  297192  126455
2001-01-02   W  780827  501952
2001-01-03   W  824923  536432
2001-01-04   W  870021  550011